name: Update Electron Versions

# 添加权限配置
permissions:
  contents: write
  pages: write
  id-token: write

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download latest versions
        id: download
        run: |
          mkdir -p ./src/data
          if [ ! -f "./src/data/versions.json" ]; then
            touch ./src/data/versions.json
          fi
          cp ./src/data/versions.json /tmp/versions.json.old
          if curl -s -f "https://artifacts.electronjs.org/headers/index.json?force_headers_dist=1" -o src/data/versions.json; then
            echo "download_success=true" >> $GITHUB_OUTPUT
          else
            cp /tmp/versions.json.old ./src/data/versions.json
            echo "download_success=false" >> $GITHUB_OUTPUT
          fi

      - name: Check for changes
        id: check_changes
        if: steps.download.outputs.download_success == 'true'
        run: |
          if ! cmp -s "./src/data/versions.json" "/tmp/versions.json.old"; then
            echo "has_changes=true" >> $GITHUB_OUTPUT
          else
            echo "has_changes=false" >> $GITHUB_OUTPUT
          fi
        
      - name: Commit changes
        id: commit
        if: steps.download.outputs.download_success == 'true' && steps.check_changes.outputs.has_changes == 'true'
        continue-on-error: true
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add src/data/versions.json
          git commit -m "$(python .github/script/generate_new_versions.py src/data/versions.json /tmp/versions.json.old)"
          git push